{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}

<div class="maincontainer-profile">
    <div class="columns is-centered">
        <div class="column is-two-thirds is-half-desktop">
            <div class="has-text-centered is-size-3">
                    {% trans "Change password" %}
            </div>
            <hr>
            <form method="post" class="ai-search-model-form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="field">
                    <label class="label">{% blocktrans %}Old password{% endblocktrans %}</label>
                    <div class="control">
                        {% if change_password_form.old_password.errors %}
                            {{ change_password_form.old_password | add_class:'input is-danger'}}
                            {% for err in change_password_form.old_password.errors %}
                            <p class="help is-danger">{{err}}</p>
                            {% endfor %}
                        {% else %}
                            {{ change_password_form.old_password | add_class:'input'}}
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">{% blocktrans %}New password{% endblocktrans %}</label>
                    <div class="control">
                        {% if change_password_form.new_password1.errors %}
                            {{ change_password_form.new_password1 | add_class:'input is-danger'}}
                            {% for err in change_password_form.new_password1.errors %}
                            <p class="help is-danger">{{err}}</p>
                            {% endfor %}
                        {% else %}
                            {{ change_password_form.new_password1 | add_class:'input'}}
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">{% blocktrans %}Repeat password{% endblocktrans %}</label>
                    <div class="control">
                        {% if change_password_form.new_password2.errors %}
                            {{ change_password_form.new_password2 | add_class:'input is-danger'}}
                            {% for err in change_password_form.new_password2.errors %}
                            <p class="help is-danger">{{err}}</p>
                            {% endfor %}
                        {% else %}
                            {{ change_password_form.new_password2 | add_class:'input'}}
                        {% endif %}
                    </div>
                </div>

                {% if form.non_field_errors %}
                    <div class="non-field-errors">
                        {% for err in form.non_field_errors %}
                        <p>{{ err }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="control has-text-centered">
                    <input class="button button-primary" type="submit" value="{% trans "Change" %}" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}