{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% load babel %}
{% block title %}{% trans "Earn benefits" %}{% endblock %}
{% block content %}

<div class="maincontainer-profile">
    <div class="columns is-centered">
        <div class="column is-two-thirds is-half-desktop">
            <div class="has-text-centered is-size-3">
                {% blocktrans %}Benefits claimed succesfully{% endblocktrans %}
            </div>
            <hr/>
            <div>
                <p>{% blocktrans %}The money was transferred to the following PayPal account:{% endblocktrans %}</p>
                <p><b>{{ email }}</b></p>
                <br>
                <div><p>{% blocktrans %}You can check if you have received the benefits by looking in the
                email inbox or by logging into your{% endblocktrans %} <a href="https://www.sandbox.paypal.com/signin" target="_blank">{% blocktrans %}PayPal account.{% endblocktrans %}</a> </p></div>
                <br>
                <div><p>{% blocktrans %}If there was a problem with the payout, please feel free to{% endblocktrans %} <a href="https://docs.google.com/forms/d/e/1FAIpQLSdKzzbaZnlNzNlU0kytLPr6OtRHxb7IwF2PdFQ7aQegLAr1dA/viewform?embedded=true" target="_blank">{% blocktrans %}contact us.{% endblocktrans %}</a></p></div>
            </div>
            <hr/>
            <div class="control has-text-centered">
                <button class="button is-link" onclick="location.href='/myaccount'">{% trans "Back to profile" %}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}